<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shun.favoriteindex.user.mapper.UserMapper">

    <resultMap id="userMap" type="com.shun.favoriteindex.user.entity.User">
        <id property="userId" column="USER_ID" />
        <result property="email" column="EMAIL" />
        <result property="password" column="PASSWORD" />
        <result property="headImg" column="HEAD_IMG" />
        <result property="createTime" column="CREATE_TIME" />
        <result property="updateTime" column="UPDATE_TIME" />
    </resultMap>

    <select id="getUserByEmail" resultMap="userMap" parameterType="String">
        SELECT USER_ID, EMAIL, PASSWORD, HEAD_IMG, CREATE_TIME, UPDATE_TIME FROM FI_USER_INFO
        <where>
            EMAIL = #{email, jdbcType=VARCHAR}
        </where>
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO FI_USER_INFO
        (EMAIL, PASSWORD, HEAD_IMG, CREATE_TIME, UPDATE_TIME)
        VALUES
        (
            #{email, jdbcType=VARCHAR},
            #{password, jdbcType=VARCHAR},
            #{headImg, jdbcType=VARCHAR},
            #{createTime, jdbcType=VARCHAR},
            #{updateTime, jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateUser">
        UPDATE FI_USER_INFO
        <set>
            <if test="email != null and email != ''">
                EMAIL = #{email, jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                PASSWORD = #{password, jdbcType=VARCHAR},
            </if>
            <if test="headImg != null and headImg != ''">
                HEAD_IMG =  #{headImg, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null and createTime != ''">
                CREATE_TIME = #{createTime, jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null and updateTime != ''">
                UPDATE_TIME = #{updateTime, jdbcType=VARCHAR}
            </if>
        </set>
        <where>
            USER_ID = #{userId, jdbcType=VARCHAR}
        </where>
    </update>

    <delete id="deleteUser" parameterType="String">
        DELETE FROM FI_USER_INFO
        <where>
            EMAIL = #{email, jdbcType=VARCHAR}
        </where>
    </delete>

</mapper>